header {
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.023),
    0 3px 14px 2px rgba(71, 69, 69, 0.023),
    0 5px 5px -3px rgba(107, 35, 35, 0.023);
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nabvar__brand {
  font-weight: 800;
  font-size: 1.5em;
  color: teal;
}

.nabvar__brand:focus,
.nabvar__brand:active {
  color: teal;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.navbar__list--item {
  margin-right: 30px;
}

.navbar__list--item a {
  color: #000000;
  font-size: 1.2em;
  transition: 0.1s ease-in-out;
}

.navbar__list--item a:hover {
  color: teal;
  transition: 0.1s ease-in-out;
}
